modules = ["nodejs-24", "postgresql-16", "python-3.11"]

  [[artifacts]]
  id = "artifacts/api-server"

  [[artifacts]]
  id = "artifacts/mockup-sandbox"

  [deployment]
  router = "application"
  deploymentTarget = "autoscale"
  build = ["bash", "-c", "BASE_PATH=/yamanouchi/ NODE_ENV=production pnpm --filter @workspace/yamanouchi run build && pnpm --filter @workspace/api-server run build"]
  run = ["bash", "-c", "NODE_ENV=production PORT=80 node artifacts/api-server/dist/index.cjs"]

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

  [workflows]
runButton = "Project"

  [agent]
  stack = "PNPM_WORKSPACE"
expertMode = true

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

  [nix]
  channel = "stable-25_05"

[userenv]

[userenv.shared]
OWM_API_KEY = "dd8b383d8883198e744425d9e7ed11c3"
VITE_VAPID_PUBLIC_KEY = "BCoXjQ2TUG8JM_ehyoZl5WLZLUgdQeaqzUVpohrgK0xoKPbFibCQhze5y3tHgV5rQTPOi8t961qEdM6g842h_zY"
ALERT_TOKEN_SECRET = "rjHtwLo6l8ZFv+tUnVti/hzJrjpeAwapHw0/nIB4ybYMlP65XkTu3zK4kQ2zuKue"
WEATHER_UNLOCKED_APP_ID = "4c0543b2"
WEATHER_UNLOCKED_APP_KEY = "6175db01a9a130ed980148c3f4c01264"
  